.game-options {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  z-index: 2;
  transition: opacity 0.5s;
}

body[class] .game-options {
  opacity: 0;
  pointer-events: none;
}

.game-options ul {
  width: 100%;
  padding: 0;
  margin: 0;
}

.game-options button {
  background: linear-gradient(135deg, #E76200 0%, #E65100 30%);
  box-shadow: inset -1px 1px 1px #FFA726;
  color: white;
  width: 100%;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.playButton {
  cursor: pointer;
  display: none;
  z-index: 2;
  transition: width 1s, height 1s, top 1s, left 1s, margin 1s, transform 1s;
}

.is-playing .playButton {
  width: 3rem;
  height: 3rem;
  top: 1rem;
  margin: 0 -3rem;
  left: calc(100% - 1rem);
  transform: rotate(180deg);
}

.results .playButton {
  width: 5rem;
  height: 5rem;
  top: 5rem;
  left: 50%;
  margin: 0 -2.5rem;
}

.ready .playButton {
  display: block;
}

.playButton::before,
.playButton::after {
  width: 2.5rem;
  height: 6rem;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1rem;
  transform: translate(-50%, -50%);
  background: black;
  transition: clip-path 0.5s, transform 1s, margin-left 1s;
  clip-path: polygon(0 0, 2.5rem 1.5rem, 2.5rem 4.5rem, 0 6rem);
  box-shadow: 22px 0 1px 1px black;
}

.playButton::after {
  clip-path: polygon(0 1.5rem, 2.5rem 3rem, 2.5rem 3rem, 0 4.5rem);
  box-shadow: -2px 0 1px 1px black;
  margin-left: 1.5rem;
}

.is-playing .playButton::before,
.is-playing .playButton::after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: translate(-50%, -50%) scale(0.25);
  margin-left: -.5rem;
}

.is-playing .playButton::after {
  margin-left: .5rem;
}

.results .playButton::before {
  transform: translate(-62.5%, -50%) scale(0.41667);
  margin-left: 0;
}
.results .playButton::after {
  transform: translate(-21.5%, -50%) scale(0.41667);
  margin-left: 0;
}
