.tap-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.tap-controls li {
  width: 20%;
  opacity: 0;
  transition: opacity 0.2s;
  position: relative;
}

.tap-controls li::before {
  display: block;
  content: '';
  padding-top: 100%;
}

.is-playing.ready .tap-controls li {
  opacity: 1;
  transition: opacity 0.2s;
}

.is-playing.ready .tap-controls li:nth-of-type(2) {
  transition-delay: 0.2s;
}

.is-playing.ready .tap-controls li:nth-of-type(3) {
  transition-delay: 0.4s;
}

.is-playing.ready .tap-controls li:nth-of-type(4) {
  transition-delay: 0.6s;
}

.tap-controls li svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.is-playing.ready .tap-controls li svg {
  transition: transform 0.5s;
}

.ready .tap-controls li:nth-of-type(1) svg {
  transform: scale(2);
}

.ready .tap-controls li:nth-of-type(2) svg {
  transform: rotate(-90deg) scale(2);
}

.ready .tap-controls li:nth-of-type(3) svg {
  transform: rotate(90deg) scale(2);
}

.ready .tap-controls li:nth-of-type(4) svg {
  transform: rotate(180deg) scale(2);
}

.is-playing .tap-controls li:nth-of-type(1) svg {
  transform: rotate(0);
}

.is-playing .tap-controls li:nth-of-type(2) svg {
  transform: rotate(-90deg);
  transition-delay: 0.2s;
}

.is-playing .tap-controls li:nth-of-type(3) svg {
  transform: rotate(90deg);
  transition-delay: 0.4s;
}

.is-playing .tap-controls li:nth-of-type(4) svg {
  transform: rotate(180deg);
  transition-delay: 0.6s;
}

.tap-controls li .arrow {
  transition: transform linear, opacity 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-100vh);
}

.arrow::before {
  content: attr(data-beat);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  color: black;
  font-weight: bold;
}
